
<!--<div class="content">
     <div id="header-e1">
           <img src="assets/innodirect.PNG ">
     </div>
     <div class="b">
      <a href="" style="margin-left: 5em;"><br>CONTACT</a>
     </div>
</div>-->

<nav class="navbar navbar-light navbar-expand-md navigation-clean mb-5">
  <div class="container">
    <div class="col no-gutters">
      <div class="row no-gutters">
        <div class="col-6 col-sm-2 d-inline-flex align-items-center justify-content-center justify-content-md-start">
          <a href="/" class="navbar-brand mr-0">
            <img src="/assets/Image/InnoDirect_1500x200Transparent.png" alt="InnoDirect Web Secure" width="184" height="25">
          </a>
        </div>
        <div class="col-6 col-sm-10 d-inline-flex align-items-center">
          <ul class="nav navbar-nav ml-auto d-inline-flex">
            <li class="dropdown d-inline-flex">
              <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle nav-link dropdown-toggle">

                                    <span class="dropdown-language-img">
                                        <img src="/assets/Image/Language.svg" alt="Language" width="50" height="50">
                                    </span>
                <span class="dropdown-default">English</span>
              </a>
              <div role="menu" class="dropdown-menu">
                <a role="presentation" href="/Home/SetCulture?culture=fr" class="dropdown-item">Français</a>
                <a role="presentation" href="/Home/SetCulture?culture=en-CA" class="dropdown-item">English</a>
              </div>

            </li>
            <li class="dropdown d-inline-flex">
              <a data-toggle="dropdown" aria-expanded="false" href="#" class="nav-link">
                                    <span class="dropdown-menu-img">
                                        <img src="/assets/Image/Menu.svg" alt="Ouvrir Menu" width="25" height="25">
                                    </span>
              </a>
              <div role="menu" class="dropdown-menu">



                <a role="presentation" href="https://innodirect.com/contact-us/" target="_blank" class="dropdown-item">Contact</a>







<!--                <script type="text/javascript">
                    $(document).ready(function () {
                        var $logoutForm = $('#logoutForm');
                        $('#btnLogoff').click(function (e) {
                            $logoutForm.submit();
                        });
                    });
                </script>-->

              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

