a {
  color: hotpink;
}

.content{
  border-bottom-style: solid;
  border-bottom-width: thin;

}
div.b {
  position: absolute;
  right: 0;
  width: 100px;
  height:30px;
  top: 0;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  font-weight:900;
  text-decoration:underline;
}

/* selected link */
a:active {
  color: blue;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
}
