.content{
  text-align: center;
  padding-top: 1px;
  margin-top:15%;
  border-top:30px;
  border-top: double;
  border-bottom:10px;
}
#footer {
  position: fixed;
  width: 100%;
  left: 0;
  background: #ccc;
}

#footer {
  bottom: 0;
  height: 30px;
}

