<!--footer class="footer">
  <div class="container">
    <div class="content has-text-centered">


      <nav>
        <a href="" style="margin-left: 5em;"><br>Help</a>
        <a href="#" style="margin-left: 10em;">Conditions of use</a>
        <br>
        <br>
      </nav>

       <nav>
         <a style="margin-left: 1em;">@Innodirect  2019</a>
       </nav>
    </div>
  </div>
</footer>-->


  <div class="footer-basic">
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.innodirect.com/contact-en" target="_blank">Help</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.innodirect.com/conditions-of-use" target="_blank">Conditions of use</a>
        </li>
      </ul>
      <p class="copyright">Innodirect 2019</p>
    </footer>
  </div>

