<div style="text-align:center">
  <h1>Forgot your password?</h1>

  <div class="container">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" [(ngModel)]="email" id="email" name="email" class="form-control" placeholder=" type your email here "/>
        <label *ngIf="form.get('email').invalid" class="error"> Email is required! </label>
      </div>

      <button (click)="doNext()" class="btn btn-primary">Next</button>

      <p id="demo"></p>
      <nav>
        <a href="/login"><br>Go Back to login page</a>
      </nav>


    </form>
  </div>
</div>


