<!--<div style="text-align:center">
  <h1>Forgot your password?</h1>

  <div class="container">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" [(ngModel)]="email" id="email" name="email" class="form-control" placeholder=" type your email here "/>
        <label *ngIf="form.get('email').invalid" class="error"> Email is required! </label>
      </div>

      <button (click)="doNext()" class="btn btn-primary">Next</button>

      <p id="demo"></p>
      <nav>
        <a href="/login"><br>Go Back to login page</a>
      </nav>


    </form>
  </div>
</div> -->


<div class="row custom-form-container highlight-clean mt-5">
  <div class="col col-12 col-offset-0 no-gutters">
    <form action="/Account/ForgotPassword" class="custom-form p-1 p-sm-4 pt-5 mt-0 mt-sm-5" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="Nzv3Pz_ChVy31afxT1Wd8RwaIsLVxU0e8qh-fmD_Vsp1or_3kMPBZHkvkNuKhdVplHfM35qKUGPNJHqiQm2awLg_N3Bed1okelsh3bMyXZ41">                    <h1>Forgot your password?</h1>
      <div class="form-row form-group">
        <div class="col-sm-3 label-column">
          <label class="col-form-label">Email</label>
        </div>
        <div class="col-sm-6 input-column">
          <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
        </div>
      </div>
      <div class="buttons">
        <!--<button class="btn btn-primary" type="submit">Next</button>-->
        <button (click)="doNext()" class="btn btn-primary">Next</button>

        <p id="demo"></p>
        <nav>
          <a href="/login"><br>Go Back to login page</a>
        </nav>
      </div>
    </form>
  </div>
</div>
