 <div style="text-align:center">
    <div class="container body-content"  style="padding-bottom:91px;">
      <div class="row">
        <div class="col">
          <div class="row custom-form-container highlight-clean mt-5">
            <div class="col col-12 col-offset-0 no-gutters">
    <form [formGroup]="form" class="custom-form p-1 p-sm-4 pt-5 mt-0 mt-sm-5" method="post" role="form">
      <h1>Log in</h1>

      <div class="form-row form-group">
        <div class ="col-sm-3 label-column">
        <label class="col-from-label" >Name</label>
        </div>
        <div class="col-sm-6 input-column">
          <input class="form-control" data-val="true" data-val-required="The User name field is required." id="username" name="username" class="form-control" type="text" value>
          <span class="field-validation-valid" data-valmsg-for="username" data-valmsg-replace="true">
          </span>
        </div>
      </div>

        <div class="form-row form-group">
         <div class="col-sm-3 label-column">
           <label class="col-form-label">Password</label>
         </div>
         <div class="col-sm-6 input-column">
           <input class="form-control" data-val="true" data-val-required="The password field is required." id="password" name="password" type="password">
           <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
         </div>
        </div>

      <button (click)="doLogin()" class="btn btn-primary">Login</button>

      <p id="demo"></p>
       <nav>
        <a routerLink="/forgot-password"><br>Forgot your password?</a>
      </nav>


      </form>
      </div>
      </div>
      </div>
      </div>
    </div>
 </div>


